*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
.background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    margin-top: 60px; /* Hozzáadva, hogy ne lógjon rá a menüre */
}
.background .shape{
    height: 150px; /* Módosítva: 150x150 pixel */
    width: 150px;  /* Módosítva: 150x150 pixel */
    position: absolute;
    border-radius: 50%;
    z-index: -50%;
}
.shape:first-child{
    background: linear-gradient(
        #1845ad,
        #23a2f6
    );
    left: -200px;
    top: -80px;
}
.shape:last-child{
    background: linear-gradient(
        to right,
        #ff512f,
        #f09819
    );
    right: -30px;
    bottom: -30px; /* Módosítva, hogy feljebb kerüljön */
}
.mainpagecontent{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #080710;
    font-size: 200px;
}

/* Reszponzív menü stílusok */
@media (max-width: 768px) {
  .w3-bar-item {
    display: none;
  }
  .w3-bar-item.w3-show {
    display: block;
  }
  .w3-bar-item.w3-hide {
    display: none;
  }
}